/* CSS Document */
*{padding:0; margin:0;}
A:link {color: #000000; TEXT-DECORATION: none}
A:visited {COLOR: #000000; TEXT-DECORATION: none}
A:hover {COLOR: #ff7f24; text-decoration: underline;}
A:active {COLOR: #ff7f24; text-decoration: underline;}

.main{width:580px; margin:0 auto;}

.top_box{text-align:center}
.top_box h1{color:#FFCD1C}

.center_box{margin-top:30px; padding-left:30px}
.center_box div ul li{margin-bottom:15px}
.center_box div ul li span{float:right; padding-right:20px}

.bottom_box{width:300px; margin:0 auto}
.bottom_box h6{margin-top:50px}
